body {
  margin: 5%;
}
.container-fluid {
  margin-top: 20%;
}
#description, #rounds {
  display: flex;
  justify-content: center;
  font-size: 1.25em;
  color: rgb(153, 194, 162);
  height: 25px;
}
#display {
  display: flex;
  justify-content: center;
  font-size: 6.25em;
}
.my-button {
  display: flex;
  justify-content: center;
}
#start {
  font-size: 1.25em;
  background-color: rgb(153, 194, 162);
  border-color: rgb(102, 130, 108);
  width: 230px;
  display: flex;
  justify-content: center;
}
#start:hover {
  background-color: rgb(102, 130, 108);
  color: white;
}
#rounds {
  padding: 2em;
  font-size: 1.5em;
}
